---
layout: home
author_profile: false 

header:
  overlay_image: "assets/images/background1.jpeg"
  overlay_filter: 0.5
  actions:
    - label: "Learn More"
      url: "https://auaiforum.github.io/team"

excerpt: ''

feature_row:
  - image_path: /assets/images/teaser1.jpeg
    alt: "placeholder image 1"
    title: "DeepFace-EMD: Re-ranking Using Patch-wise Earth Mover's Distance Improves Out-Of-Distribution Face Identification"
    excerpt: "Hai Phan"
  - image_path: /assets/images/teaser2.webp
    alt: "placeholder image 2"
    title: "Challenges in Applying AI to Cyber Security"
    excerpt: "Dr. Samuel Mulder"
  - image_path: /assets/images/teaser3.jpeg
    title: "Defense against the Aversarial Arts: Techniques for Hardening Machine Learning models during Development"
    excerpt: "Josh Kalin"
  - image_path: /assets/images/teaser4.jpeg
    alt: "placeholder image 2"
    title: "What is the state-of-the-art 150M-parameter language-vision CLIP model of OpenAI looking at?"
    excerpt: "Peijie Chen"
  - image_path: /assets/images/teaser22.png
    title: "A Study of Social Network Messages During the COVID-19 Infodemic, Fake News Detection, and Genetic-Based Adversarial Training"
    excerpt: "Marcellus Smith"
    url: /events/
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/teaser5.jpeg
    title: "Efficient Federated Learning over Heterogeneous Clients"
    excerpt: "Zijie Zhang"
  


---

{% include feature_row %}
<!-- ---
feature_row:
    -image_path: assets/images/teaser1.jpeg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."

---

{% include feature_row %} -->


